<!-- templates/email.hbs -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{subject}}</title>
  
</head>

<body>
  <div class="container">

    </header>

    <div class="content">
  
    </div>
    <div class="footer">
      <p>Thank you for choosing us!</p>
    </div>
  </div>
</body>

</html>